body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Стили для заголовка и навигационных ссылок */
header {
    background-color: #141925;
    padding: 10px;
    margin-bottom: 50px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.nav-links li {
    margin-right: 15px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
    padding: 8px 12px;
    border-radius: 4px;
}

.nav-links a:hover {
    color: #f0b90b;
}

h1 {
    margin-top: 40px;
    font-size: 28px;
    color: #333;
}


.nav-links a.login-link {
    background-color: #f0b90b;
    color: #141925;
    margin-right: 5px;
}

.yellow-span{
    color: #f5c527;
}