footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    height: 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer-links li a {
    color: #333;
    text-decoration: none;
}

p {
    color: #777;
    font-size: 14px;
}